@import 'tailwindcss';

:root {
  --color-brand-orange: #FD5E15;
  --color-brand-blue: #2B4F8D;
  --color-brand-white: #FFF;
  --color-brand-gray: #333;
  --spacing-25: 25px;
  --spacing-30: 30px;
  --spacing-65: 65px;
  --spacing-140: 140px;
}